{% extends 'nav.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input - Mazer Admin Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/bootstrap.css'%}">

    <link rel="stylesheet" href="{% static '/vendors/perfect-scrollbar/perfect-scrollbar.css'%}">
    <link rel="stylesheet" href="{% static '/vendors/bootstrap-icons/bootstrap-icons.css'%}">
    <link rel="stylesheet" href="{% static '/css/app.css'%}">
    <link rel="shortcut icon" href="{% static '/images/favicon.svg'%}" type="image/x-icon">
</head>

<body>
    <div id="app">
        {% block content %}        
        <!-- CORPO DA PÁGINA -->
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>Registrar novo produto</h3>
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Registrar produto</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <section class="section">
                    <div class="card">

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <form enctype="multipart/form-data" action="{%url 'registrar-produtos'%}" method="post">{% csrf_token %}
                                        <div class="form-group">
                                            <label for="nome_produto"><h6>Nome do produto</h6></label>
                                            <input type="text" class="form-control mb-3 w-100" id="nome_produto"
                                                placeholder="Digite o nome do produto" name="nome">
                                        </div>

                                        <div class="form-group">
                                            <label for="email"><h6>Email para contato</h6></label>
                                            <input type="email" class="form-control mb-3 w-100" id="email"
                                                placeholder="Digite um email para contato" name="email">
                                        </div>

                                        <div class="form-group">
                                            <label for="preco_produto"><h6>Preço do produto</h6></label>
                                            <input type="number" class="form-control mb-3 w-100" id="preco_produto" value="0" min="0"
                                                placeholder="Digite um preço para o produto" name="preco">
                                        </div>

                                        <div class="form-group">
                                            <label for="imagem_produto"><h6>Escolha uma imagem para o produto</h6></label>
                                            <input type="file" class="form-control mb-3 w-100" id="imagem_produto" name="imagem">
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group mb-3">
                                                <label for="exampleFormControlTextarea1" class="form-label"><h6>Descrição</h6></label>
                                                <textarea class="form-control w-100" id="exampleFormControlTextarea1"
                                                    rows="3" name="descricao"></textarea>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <h6>Categoria</h6>
                                            <fieldset class="form-group">
                                                <select class="form-select" id="basicSelect" name="categoria">
                                                    <option>Eletrônicos</option>
                                                    <option>Televisão</option>
                                                    <option>Computador</option>
                                                    <option>Celular</option>
                                                    <option>Áudio e Vídeo</option>
                                                </select>
                                            </fieldset>
                                        </div>


                                        <div class="col-md-6 mt-5">
                                            <button class=" btn btn-primary my-2 my-sm-0 mt-3" type="submit">Registrar produto</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            {%endblock%}
        </div>
        <!-- FIM CORPO DA PÁGINA -->
    </div>
    <script src="{% static '/vendors/perfect-scrollbar/perfect-scrollbar.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>

    <script src="{% static 'assets/js/main.js'%}"></script>
</body>

</html>